html {
  color-scheme: light dark;
}

.table {
  border-collapse: collapse;
}

.table td {
  border-style: solid;
  padding: 4px;
}

.table__goal-input {
  width: 2.5rem;
}

.table__servings-slider {
  width: 100px;
}

.table__nutrient {
  white-space: nowrap;
}

td.table__nutrient-cell {
  border-right-style: none;
}


td.table__rate-cell {
  border-left-style: none;
  opacity: 0;
}

td.table__rate-cell:focus-within {
  opacity: 1;
}

.table__rate-input {
  width: 2rem;
}

.table__rate-label {
  font-size: 0.7rem;
  display: inline-block;
  vertical-align: bottom;
}