html {
  color-scheme: light dark;
}

.table {
  border-collapse: collapse;
}

.table td {
  border-style: solid;
  padding: 8px;
}

.table__goal-input {
  width: 4rem;
}

.table__servings-slider {
  width: 100px;
}

td.table__rate-cell {
  padding-top: 4px;
  padding-bottom: 4px;
}

.table__rate-input {
  width: 2rem;
}

.table__rate-label {
  font-size: 0.7rem;
  display: inline-block;
  vertical-align: bottom;
}